In [2]:
import pandas as pd
import os

In [6]:
Data_Migration_df = pd.read_csv("Migration_Interview_Data(Python).csv")

In [8]:
print(Data_Migration_df.duplicated().sum())

50

In [10]:
Data_Migration_df.drop_duplicates(inplace= True)

In [12]:
print(Data_Migration_df.duplicated().value_counts())

False    1000
Name: count, dtype: int64

In [16]:
dict = {'First Name': 'Contact: First Name',
        'Middle Name': 'Contact: Middle Name',
        'Last Name': 'Contact: Last Name',
        'Date of Birth': 'Contact: Date of Birth',
        'Assigned': 'Contact: Assigned',
        'Phone Number': 'Contact: Phone Number',
        'ID': 'Contact: ID'}
Data_Migration_df.rename(columns=dict,
                         inplace= True)

In [18]:
Data_Migration_df.head()

,Contact: First Name,Contact: Middle Name,Contact: Last Name,Contact: Date of Birth,Contact: Assigned,Contact: Phone Number,Contact: ID
0,Frank,Marie,Smith,04/04/2009,IC,504523377,NaN
1,Evelyn,Thomas,Taylor,12/09/2010,AA,195730020,NaN
2,Frank,J.,Davis,31/12/2009,NaN,930095284,NaN
3,Evelyn,Thomas,MARTIN,25/04/2012,TM,999124133,NaN
4,Alan,E.,MARTIN,01/01/2023,GM,244017546,NaN

In [20]:
Data_Migration_df['Contact: First Name']= Data_Migration_df['Contact: First Name'].str.title()
Data_Migration_df['Contact: Middle Name']= Data_Migration_df['Contact: Middle Name'].str.title()
Data_Migration_df['Contact: Last Name']= Data_Migration_df['Contact: Last Name'].str.title()

In [22]:
Data_Migration_df['Contact: Date of Birth']= pd.to_datetime(Data_Migration_df['Contact: Date of Birth'], format= 'mixed')

In [24]:
Data_Migration_df.dtypes

Contact: First Name               object
Contact: Middle Name              object
Contact: Last Name                object
Contact: Date of Birth    datetime64[ns]
Contact: Assigned                 object
Contact: Phone Number              int64
Contact: ID                      float64
dtype: object

In [26]:
%pip install jinja2

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: jinja2 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (3.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from jinja2) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [41]:
Data_Migration_df['Contact: Date of Birth'] = Data_Migration_df['Contact: Date of Birth'].dt.strftime('%m/%d/%Y')

In [43]:
import uuid

In [45]:
Data_Migration_df['Contact: ID'] = [uuid.uuid4() for _ in range (len(Data_Migration_df))]

In [47]:
Data_Migration_df= Data_Migration_df.replace(['GM', 'AA', 'BL', 'IC', 'TM'],
                                             ['Gabe Michel', 'Aaron Artsen', 'Bond Liver', 'Individual Contributor', 'Tim Mint'])

In [49]:
Data_Migration_df['Contact: Assigned']= Data_Migration_df['Contact: Assigned'].fillna('Gabe Michel')

In [51]:
Data_Migration_df.to_csv('Data_Migration.csv')